.screen {
  &-bg {
    background-color: #1e1e1e;
  }
  &-border {
    background-color: #1e1e1e;
  }
  &-image-1 {
    width: 71px;
    height: 50px;
  }
  &-image-2 {
    width: 78px;
    height: 50px;
  }
  &-image-3 {
    width: 32px;
    height: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .screen {
    &-image-1 {
      width: 35px;
      height: 35px;
    }
    &-image-2 {
      width: 35px;
      height: 35px;
    }
    &-image-3 {
      width: 35px;
      height: 35px;
    }
  }
}
