/* .check_box {
  display: none;
}

.check_box + label {
  background: url('https://cdn.zeplin.io/5f91645bc7d3b352a5fe0ebd/assets/614780D5-9F60-4522-9BF8-91A402CE7A02.svg')
    no-repeat;
  height: 24px;
  width: 24px;
}

.check_box:checked + label {
  background: url('https://cdn.zeplin.io/5f91645bc7d3b352a5fe0ebd/assets/614780D5-9F60-4522-9BF8-91A402CE7A02.svg')
    no-repeat;
  height: 16px;
  width: 16px;
}
 */
