@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/functions';

$utilities: (
  'width': (
    property: width,
    class: w,
    responsive: true,
    values: (
      25: 25%,
      33: 33%,
      50: 50%,
      66: 66%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  )
);

@import 'bootstrap/scss/utilities/api';

@mixin reset-css {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  @include reset-css();
}

@font-face {
  font-family: GreycliffCF;
  src: local(GreycliffCF-Regular), url(/public/fonts/Fontspring-DEMO-greycliffcf-regular.otf) format('otf'),
    url(/path/to/GreycliffCF-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: GreycliffCF;
  src: local(GreycliffCF-DemiBold), url(/path/to/GreycliffCF-DemiBold.woff2) format('woff2'),
    url(/path/to/GreycliffCF-DemiBold.otf) format('otf'), url(/path/to/GreycliffCF-DemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
